<footer class="fixed-bottom alert-secondary fw-bold">
    <div class="row p-1 align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
        </div>
        <div class="col-4 align-right text-end align-self-center">
        </div>
    </div>
</footer>
