<section class="container d-none" id="gameZone">
    <div class="px-1 my-3 text-center">
        <span class="d-inline-flex">
            <h4 class="display-6 mx-2">Playing in lobby: </h4>
            <h4 id="lobby_code" class="display-6 fw-bold"></h4>
        </span>
    </div>
    <div class="px-1 my-2 row text-center justify-content-center">
        <h1 class="display-6">You are: <span id="role" class="fw-bold"></span></h1>
        <p id="message" class="text-body-secondary mb-4 text-muted"></p>
        <div class="alert alert-info py-2 rounded-0">
            <div class="row justify-content-around">
                <div class="text-center" id="wordDiv"></div>
            </div>
        </div>

        <div id="clock_spinner" style="height: 52px;" class="my-2">
            <div class="spinner-border text-success mx-2"
                style="width: 52px; height: 52px; z-index: 10; left: calc(50% - 32px);" role="status">
                <span class="sr-only"></span>
                <p class="mb-2 display-1 text-center" style="font-size: 32px !important;" id="clock">
                    0
                </p>
            </div>
        </div>
        <div class="container">
            <h6 style="text-align: left;"><i class="bi bi-chat-dots-fill"></i> Chat</h6>
            <div class="messages mb-2"></div>

            <form id="sendMessage">
                <input type="text" class="form-control" id="messageInput" placeholder="Type your guess here">
            </form>
        </div>

        <div class="container my-4">
            <h6 style="text-align: left;"><i class="bi bi-people-fill"></i> Players</h6>
            <div class="players row row-cols-3"></div>
        </div>

    </div>
</section>