<section class="container d-none" id="gameZone">
    <div class="px-4 my-5 text-center">
        <span class="mb-1">
            <h4 class="display-6">Playing in Lobby</h4>
            <h4 id="lobby_code" class="display-6 fw-bold"></h4>
        </span>
    </div>
    <div class="px-4 my-5 row text-center justify-content-center">
        <h1 class="display-6">You are: <span id="role" class="fw-bold"></span></h1>
        <p id="message" class="text-body-secondary mb-4 text-muted"></p>
        <div class="alert alert-info py-2 rounded-0">
            <div class="row justify-content-around">
                <div class="text-center" id="wordDiv"></div>
            </div>
        </div>

        <div id="clock_spinner">
            <div class="spinner-border text-success" style="width: 3rem; height: 3rem; z-index: 10;"
                role="status">
                <span class="sr-only"></span>
            </div>
            <div>
                <p class="lead fw-bold mb-0 d-inline" id="clock">0</p>
                <p class="d-inline"> seconds</p>
            </div>
        </div>
  
    
        <div class="row justify-content-center mx-0">
            <div>
                <div class="messages"></div>
                <form id="sendMessage" class="m-2">
                    <input class="form-control" type="text" placeholder="Type your guess here...">
                    <div class="position-relative">
                        <ul class="list-group mt-1" id="suggestions"></ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>