<section class="container d-none" id="settings">
    <div class="px-4 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/logo.png" alt="" width="144">
        <span>
            <h1 class="display-5 fw-bold text-body-emphasis">Share lobby</h1>
            <!-- <h1 class="fw-bold" style="color: #008080;">Share Lobby</h1> -->
        </span>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 ">Invite your friends to start playing!</p>
        </div>
        <span>
            <h4 class="display-6">Lobby code: </h4>
            <h4 id="lobby_code_text" class="display-6 fw-bold"></h4>
        </span>
    </div>
    <div class="accordion mb-3" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button id="btn_collapse_share" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span><i class="bi bi-share"></i> Share lobby</span>
                </button>
            </h2>
            <div id="div_collapse_share" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid">
                        <!-- <h1 class="text-center">Share the link!</h1> -->
                        <div id="qrcode" class="mx-auto mb-3"></div>
                        <div class="input-group mb-3">
                            <input type="text" id="gameLink" class="form-control text-center fw-bold bg-white"
                                value="http://localhost:3000/" readonly>
                            <button class="btn btn-warning" type="button" id="copy">
                                <i class="bi bi-files"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button id="btn_collapse_settings" class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    <span><i class="bi bi-gear"></i> Lobby settings</span>
                </button>
            </h2>
            <div id="div_collapse_settings" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-flex justify-content-around">
                        <div class="form-floating mb-2 col-5">
                            <select class="form-select" id="rounds">
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="rounds">Number of rounds</label>
                        </div>
                        <div class="form-floating mb-2 col-5">
                            <select class="form-select" id="time">
                                <option value="30">30 seconds</option>
                                <option value="40" selected>40 seconds</option>
                                <option value="50">50 seconds</option>
                                <option value="60">60 seconds</option>
                                <option value="70">70 seconds</option>
                                <option value="80">80 seconds</option>
                                <option value="90">90 seconds</option>
                                <option value="100">100 seconds</option>
                                <option value="110">110 seconds</option>
                                <option value="120">120 seconds</option>
                                <option value="130">130 seconds</option>
                                <option value="140">140 seconds</option>
                                <option value="150">150 seconds</option>
                                <option value="160">160 seconds</option>
                                <option value="170">170 seconds</option>
                                <option value="180">180 seconds</option>
                            </select>
                            <label for="time">Duration of rounds</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button id="btn_collapse_players" class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <span><i class="bi bi-people"></i> Players <span id="player_count"></span></span>
                </button>
            </h2>
            <div id="div_collapse_players" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col-md-6 p-3">
                        <div class="row mt-4 mx-0" style="height: 10em; overflow-y: auto;" id="playersDiv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <% if(!roomID) { %>
        <% } %>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                style="background-color: #20c997; border-color: #20c997;" id="startGame" type="button">Start
                Game</button>
</section>