<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowdMimics - Shared</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>

<body class="vh-100">

    <div id="share_container" class="container-fluid">
        <h1 class="display-5 text-center">CrowdMimics<br> ID: <span class="fw-bold" id="shared_room_roomId"></span>
        </h1>
    </div>

    <script>

        var container = document.getElementById("share_container");

        function replaceAll(str, find, replace) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

        var stringified_games = "<%= JSON.stringify(games) %>";
        var room_id = "<%= roomID %>";

        document.getElementById("shared_room_roomId").innerHTML = room_id;

        var filtered_games = replaceAll(stringified_games, '&#34;', '"');

        var games = JSON.parse(filtered_games);

        if (Object.keys(games).length > 0) {
            for (var game in games) {

                if (game.toString() == room_id) {
                    var card = document.createElement('div');
                    card.className = "card my-auto mx-auto";
                    card.style.maxWidth = "90vw";
                    var card_header = document.createElement('div');
                    card_header.className = "card-header text-center";
                    card_header.innerHTML = "<span class=\"fw-bold\" style=\" font-size: 1.25rem; \" >" + game.toString() + "</span>" + "<span class=\"mx-4\"></span>" + "<span class=\"small\"><i class=\"bi bi-dice-5\"></i> <b>" + (games[game]["currentRound"] + 1).toString() + "</b>/" + games[game]["rounds"].toString() + " <i class=\"bi bi-stopwatch\"></i> " + (games[game]["time"] / 1000).toString() + "s" + "</span>";
                    var card_body = document.createElement('div');
                    card_body.className = "card-body";
                    var player_list = document.createElement('div');
                    player_list.className = "container";
                    var player_list_row = document.createElement('div');
                    player_list_row.className = "row row-cols-3 px-1 py-2";

                    for (var player in games[game]) {

                        if (player != "currentWord"
                            && player != "customWords"
                            && player != "drawer"
                            && player != "probability"
                            && player != "language"
                            && player != "rounds"
                            && player != "time"
                            && player != "totalGuesses"
                            && player != "messages"
                            && player != "currentRound"
                            && player != "startTime") {

                            var player_container_div = document.createElement('div');
                            player_container_div.className = "col-xs d-flex align-items-center flex-column";

                            for (var k in games[game][player]) {

                                var avatar_name_div = document.createElement('div');
                                avatar_name_div.className = "";
                                var player_avatar = document.createElement('img');
                                player_avatar.className = "";
                                player_avatar.style.width = "2rem";
                                var player_name = document.createElement('h6');
                                player_name.className = "d-flex";
                                var player_score = document.createElement('span');
                                // player_score.className = "fw-bold";
                                player_score.style.fontSize = "1.2rem";
                                player_score.style.fontFamily = "'JetBrains Mono', monospace";

                                player_score.innerHTML = games[game][player]["score"];
                                player_name.innerHTML = games[game][player]["name"];
                                player_avatar.src = games[game][player]["avatar"];
                            }

                            var player_badge = document.createElement('span');
                            player_badge.className = "fw-bold";
                            player_badge.style.width = "21px";
                            player_badge.style.height = "21px";
                            player_badge.style.borderRadius = "100%";
                            player_badge.style.border = "1px solid gray";
                            player_badge.style.lineHeight = "15px";

                            if (games[game]["drawer"] == player) {
                                player_badge.style.backgroundColor = "#c8f7c8";
                                player_badge.style.textIndent = "2px";
                                player_badge.innerHTML = "M";
                            } else {
                                player_badge.style.textIndent = "4px";
                                player_badge.innerHTML = "G";
                            }

                            player_container_div.appendChild(player_score);
                            player_container_div.appendChild(player_avatar);
                            player_container_div.appendChild(player_name);
                            player_container_div.appendChild(player_badge);
                            player_list_row.appendChild(player_container_div);
                        }
                    }

                    // console.log("asd");
                    // console.log(games[game]["messages"]);



                    // card_body.appendChild();
                    card.append(card_header);
                    // card.append(card_body);
                    player_list.appendChild(player_list_row);
                    card.append(player_list);
                    card.appendChild(document.createTextNode("Chat: "));
                    for (var m of games[game]["messages"]) {
                        var message_ = document.createElement("p");
                        var filtered_msg = replaceAll(JSON.stringify(m), '&#34;', '"');
                        // console.log(filtered_msg);
                        var msg = JSON.parse(filtered_msg);
                        // console.log();

                        if (m.name == "Host") {
                            message_.innerHTML = "<b>" + m.name + "</b>: " + m.message;
                        } else {
                            message_.innerHTML = "<b>" + m.name + "</b>: " + m.message.message;
                        }

                        card.appendChild(message_);
                        // console.log("test");
                        // console.log(m.message);
                    }
                    container.appendChild(card);
                } else {
                    var card = document.createElement('div');
                    card.className = "p-5 text-center bg-body-tertiary rounded-3";
                    card.innerHTML = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100\" height=\"100\" fill=\"currentColor\" class=\"bi bi-moon-stars-fill\" viewBox=\"0 0 16 16\"><path d=\"M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z\"/><path d=\"M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z\"/></svg>";
                    var card_header = document.createElement('h1');
                    card_header.className = "text-body-emphasis mt-4";
                    card_header.innerHTML = "Shhh.. everyone is sleeping";
                    var card_body = document.createElement('p');
                    card_body.className = "col-lg-8 mx-auto fs-5 text-muted";
                    card_body.innerHTML = "This game has already finished or has expired. <br> Come back later or start your own game!"

                    card.appendChild(card_header);
                    card.appendChild(card_body);
                    container.appendChild(card);
                }
            }
        } else {

            var card = document.createElement('div');
            card.className = "p-5 text-center bg-body-tertiary rounded-3";
            card.innerHTML = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100\" height=\"100\" fill=\"currentColor\" class=\"bi bi-moon-stars-fill\" viewBox=\"0 0 16 16\"><path d=\"M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z\"/><path d=\"M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z\"/></svg>";
            var card_header = document.createElement('h1');
            card_header.className = "text-body-emphasis mt-4";
            card_header.innerHTML = "Shhh.. everyone is sleeping";
            var card_body = document.createElement('p');
            card_body.className = "col-lg-8 mx-auto fs-5 text-muted";
            card_body.innerHTML = "Currently there are not active lobbies or games. <br> Come back later or start your own game!"

            card.appendChild(card_header);
            card.appendChild(card_body);
            container.appendChild(card);
        }

        setTimeout(() => {
            console.log("Delayed for 1 second.");
            window.location.reload(1);
        }, "5000");
    </script>

    <!-- 
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/howler@2.2.1/dist/howler.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
        <script src="js/avatar.js"></script>
        <script src="js/shared.js"></script> -->
</body>

</html>